<div class="medium-10 medium-offset-1  columns">
  <div id="container" >
    <div class="row">
    <div ng-controller = "ElectricityController">
      <div class="medium-12 columns">
        <div class="medium-8 columns">
          <h1>Electricity Meter</h1>
          <br/><br/>
          <h4>Draw Charts and get data:</h4><br/>
            <a ng-click="fetchData();" class="button [radius round]">Data</a>
            <div class="medium-2 columns">
              Virtual sensor:
              <select ng-model="selectedSensor" 
                      ng-options="o.name for o in results" ng-change="InitPage();">
              </select>
            </div>
          <br/><br/> 
          <h4>Date picker:</h4><br/>
          <div class="row">
            <div class="medium-1 columns" style="position:relative;top:5px;">
              From
            </div>
            <div class="medium-3 columns left" style="position:relative;left:-50px;">
              <quick-datepicker ng-model='from' placeholder="Select Date" on-change="fromChanged(); InitPage();"></quick-datepicker>
            </div>

            <div class="medium-1 columns" style="position:relative;top:5px;left:-90px">
              Until
            </div>
            <div class="medium-3 columns left" style="position:relative;left:-140px;">
              <quick-datepicker ng-model='until' placeholder="Select Date" on-change="untilChanged()"></quick-datepicker>
            </div>
          </div>
        </div>
        <br/><br/><br/><br/>

        <div id="content">
          <div class="medium-2 columns" style="position:relative;right:400px">
            <div id="container_gauge1" style="min-width: 350px; max-width: 400px; height: 300px; margin: 0 auto"></div>            
          </div>
          <div class="medium-2 columns" style="position:relative;right:200px">
            <div id="container_gauge2" style="min-width: 350px; max-width: 400px; height: 300px; margin: 0 auto"></div>            
          </div>
        </div>
      </div>
    <br/><br/>

    <div class = "row">
      <div class="medium-10 columns" >

        <dl class="tabs" ng-init="selectedTab = 1" ng-model="selectedTab" data-tab>
          <dd ng-class = "{'active' : selectedTab == 1 }" ><a ng-click="selectedTab = 1" >Day chart</a></dd>
          <dd ng-class = "{'active' : selectedTab == 2 }"><a ng-click="selectedTab = 2" >Months Chart</a></dd>
          <dd ng-class = "{'active' : selectedTab == 3 }"><a ng-click="selectedTab = 3" >Year Chart</a></dd>
        </dl>
        
        <div class="tabs-content">
          <div class="content" ng-class = "{'active' : selectedTab == 1 }">
            <div class="row">
              <div class="medium-10 columns" >
                <highchart id="chartDay" config="chartDayConfig" style="min-width: 1500px; height: 500px; margin: 0 auto" ></highchart>
                <!--<div id="chartdiv" style="min-width: 1700px; height: 500px; margin: 0 auto"></div>-->
              </div>
            </div>
          </div>
          <div class="content" ng-class = "{'active' : selectedTab == 2 }">
            
          </div>
          <div class="content" ng-class = "{'active' : selectedTab == 3 }">
    
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>      