<div class="medium-10 medium-offset-1 columns">	
	<div id="container" >
		<div class="row">	
			<div class="medium-8 columns">
			<h1>Watchdog</h1>
			<br/>
			<fieldset>
	    					<legend>Watchdog params</legend>
				  				<div class="row">

				  					<div class="medium-8 columns left" ng-show="showError === true">
									
									<div data-alert class="alert-box alert round" >
  										{{errorMessage}}
  										<a class="close" ng-click="showError=false;">&times;</a>
									</div>
									</div>

									<div class="medium-8 columns left" ng-show="showInfo === true">
									
									<div data-alert class="alert-box info radius" >
  										{{infoMessage}}
  										<a class="close" ng-click="showInfo=false;">&times;</a>
									</div>
									</div>

				  					<div class="medium-8 columns left">
							  	 		<div class="medium-4 columns">
			          						<label for="ipaddress" class="right inline">Monitored sensor</label>
			        					</div>
			        					<div class="medium-4 columns left">
			        						<select ng-model="selectedSensor" 
                								ng-options="o.name for o in sensors" ng-change="">
            								</select>
			        					</div>
			        				</div>
				  					<div class="medium-8 columns left">
							  	 		<div class="medium-4 columns">
			          						<label for="ipaddress" class="right inline">Delay (in seconds) between notifications</label>
			        					</div>
			        					<div class="medium-4 columns left">
			          				<input type="text" id="ipaddress" placeholder="" ng-model="delay">
			        					</div>
			        				</div>
			        				<div class="medium-8 columns left">
							  	 		<div class="medium-4 columns">
			          						<label class="right inline">Critical period (in seconds)</label>
			        					</div>
			        					<div class="medium-3 columns left">
			          		  				<input type="text" placeholder="" ng-model="criticalPeriod">
			        					</div>
			        				</div>
			        				<div class="medium-8 columns left">
							  	 		<div class="medium-4 columns">
			          						<label class="right inline">Email</label>
			        					</div>
			        					<div class="medium-5 columns left">
			          						<input type="text" placeholder="" ng-model="email">
			        					</div>
			        				</div>
			        			</div>
			</fieldset>
			<div class="row">
        						<div class="medium-8 columns left">
        							<div class="medium-2 columns">
        								<a class="alert tiny round button" ng-click="generateWatchdog();">Generate</a>
			        				</div>
			        				<div class="medium-2 columns" style="position:relative; top:10px; left:-300px;">
			        					<img id="spinner" ng-src="images/ajax-loader.gif" style="display:none;">
			        				</div>
        						</div>
        	</div>
		</div>
	</div>
</div>
</div>